@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400;700&display=swap');

body {
    background-image: url("/images/homescreen1.png");
    background-blend-mode: darken;
    background-size: cover;
    background-repeat: no-repeat;
    align-items: center;
    background-attachment:fixed;
    background-position:center bottom;
}

.flex{
    display:flex;
    justify-content:space-between;
    height: 58px;
    object-fit: contain;
    margin: 40px 40px;
}

img {
    width: 100%;
    height: 100%;;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.overlay .popup {
    display: flex;
    width: 613px;
    height: 353px;
    padding: 10px 10px 10px 8px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 23px;
    flex-shrink: 0;
    border-radius: 20px;
    border: 10px solid #DFDDD5;
    background: linear-gradient(210deg, #E5DDC9 6.33%, #AB9A7A 96.06%);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
    color: #1A2718;
    text-align: center;
    font-family: Rowdies;
    font-size: 42px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.overlay .popup .closeBtn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}

.popup a {
    text-decoration: none; 
    color: #1A2718;
    font-family: Rowdies;
    font-size: 42px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

button {
    background-color: transparent;
    border: none;
}

button:hover {
    cursor: pointer;
}