@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
}

a {
    text-decoration: none;
    color: #E5DDC9;
}

h1 {
    color: #C68309;
    text-align: center;
    text-shadow: 0px 10px 5.3px rgba(0, 0, 0, 0.40);
    -webkit-text-stroke-width: 16px;
    -webkit-text-stroke-color: #7C4607;
    font-family: Rowdies;
    font-size: 88px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    paint-order: stroke fill;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    background-color: #1A2718;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wood-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: -1;
}

img#wood {
    max-width: 80%;
    max-height: 80%;
    width: auto;
    height: auto;
}

img#small-image {
    max-width: 60%;
    max-height: 60%;
    width: auto;
    height: auto;
    z-index: -1;
}

.center-box {
    display: flex;
    width: 702px;
    padding: 10px;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.levels-grid {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 22px;
    grid-row-gap: 22px;
}

.level {
    display: flex;
    width: 80px;
    height: 80px;
    padding: 10px 10px 10px 8px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0; 
    border-radius: 20px;
    border: 3px solid #BBB6A5;
    background: linear-gradient(0deg, rgba(76, 37, 2, 0.58) 0%, rgba(76, 37, 2, 0.58) 100%), linear-gradient(210deg, #E5DDC9 6.33%, #AB9A7A 96.06%);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
}

.element {
    color: #C68309;
    text-align: center;
    -webkit-text-stroke-width: 10px;
    -webkit-text-stroke-color: #7C4607;
    font-family: Rowdies;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    paint-order: stroke fill;
}

.lv1 {
    display: flex;
    width: 80px;
    height: 80px;
    padding: 10px 10px 10px 8px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0; 
    border-radius: 20px;
    border: 3px solid #DFDDD5;
    background: linear-gradient(210deg, #E5DDC9 6.33%, #AB9A7A 96.06%);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
}

.buttons {
    display: flex;
    gap: 18px;
    padding: 0px 76px;
    justify-content: center;
}

.arrowback {
    transform: scaleX(-1);
}

.polygon:hover {
    cursor: pointer;
}

img#backbutton {
    position: absolute;
    top: 40px;
    left: 40px;
    transform: scaleX(-1);
}

img#backbutton:hover {
    cursor: pointer;
    transform: scaleX(-1);
}

img#bij {
    position: absolute;
    top: 90%;
    right: 90%;
}

img#vlinder {
    position: absolute;
    bottom: 90%;
    left: 90%;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.overlay .popup {
    display: flex;
    width: 613px;
    height: 353px;
    padding: 10px 10px 10px 8px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 23px;
    flex-shrink: 0;
    border-radius: 20px;
    border: 10px solid #DFDDD5;
    background: linear-gradient(210deg, #E5DDC9 6.33%, #AB9A7A 96.06%);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
    color: #1A2718;
    text-align: center;
    font-family: Rowdies;
    font-size: 42px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.overlay .popup .closeBtn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}

button:hover {
    cursor: pointer;
}

#ready:hover {
    cursor: pointer;
}

button#back {
    border-radius: 20px;
    border: 4px solid #C6382F;
    background: var(--red, linear-gradient(266deg, #B3271E 1.5%, #5C1919 99.35%));
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
    color: #E5DDC9;
    text-align: center;
    font-family: Rowdies;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 10px 30px;
    transition: 0.8s;
}

button#back:hover {
    background: var(--red, linear-gradient(266deg, #5C1919 1.5%, #5C1919 99.35%));
    cursor: pointer;
}

button#next {
    border-radius: 20px;
    border: 4px solid #688E2B;
    background: var(--green, linear-gradient(253deg, #6E9D22 -3.77%, #27370C 96.4%));
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
    color: #E5DDC9;
    text-align: center;
    font-family: Rowdies;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 10px 30px;
    transition: 0.8s;
}

button#next:hover {
    background: var(--green, linear-gradient(253deg, #27370C -3.77%, #27370C 96.4%));
    cursor: pointer;
}