body {
    font-family: "Rowdies", sans-serif;
    color: #1A2718;
    margin: 0;
    padding: 0;
    overflow: hidden; /* Voorkomt horizontaal en verticaal scrollen */
    background: rgb(229,221,201);
    background: linear-gradient(5deg, rgba(229,221,201,1) 100%, rgba(171,154,122,1)100%);    
}

#background-box {
    position: absolute;
    top: 10%; /* Verticale uitlijning */
    left: 50%;
    transform: translateX(-50%); /* Om het in het midden van de pagina te plaatsen */
    width: 100%; /* Breedte van de box */
    height: 90%; /* Hoogte van de box */
    border-radius: 20px; /* Afgeronde hoeken */
    overflow: hidden; /* Voorkomt dat de afbeelding buiten de box gaat */
    background-image: url('/images/afbeelding.jpg'); /* Achtergrondafbeelding */
    background-size: cover; /* Zorg ervoor dat de afbeelding de hele box bedekt */
    background-position: center; /* Uitlijning van de achtergrondafbeelding */
}
.bottle {
    display: inline-block;
    width: 50px;
    height: 100px;
    margin: 10px;
    cursor: pointer;
    border: none; /* Verwijder de zwarte rand */
    position: absolute;
    background-size: cover; /* Zorg ervoor dat de achtergrondafbeelding de hele ruimte van het vakje inneemt */
}
#info-bar {
    width: 100%;
    height: 50px;
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#score, #timer {
    font-size: 18px;
    font-weight: bold;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}
#overlay-content {
    background-color: #F5F5DC;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    color: #333;
}
#game-over {
    display: none;
}